<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_url</key>
	<string>https://sandboxng.neosurancecloud.net/api/v1.0/</string>
	<key>code</key>
	<string>sportclubby</string>
	<key>secret_key</key>
	<string>pass</string>
	<key>user.email</key>
	<string>mario@rossi.com</string>
	<key>user.code</key>
	<string>mario@rossi.com</string>
	<key>user.firstname</key>
	<string>Mario</string>
	<key>user.lastname</key>
	<string>Rossi</string>
	<key>user.fiscalCode</key>
	<string>RSSMRA85T01F205P</string>
	<key>user.stateProvince</key>
	<string>MI</string>
	<key>user.city</key>
	<string>Milano</string>
	<key>user.address</key>
	<string>Via Canova 12</string>
	<key>user.zipCode</key>
	<string>20130</string>
	<key>user.country</key>
	<string>Italia</string>
	<key>user.gender</key>
	<string>M</string>
	<key>user.birthday</key>
	<string>01-12-1985</string>
	<key>user.mobile</key>
	<string>3409876234</string>
	<key>user.extra</key>
	<string>nil</string>
</dict>
</plist>
