<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_url</key>
	<string>https://sandbox.neosurancecloud.net/sdk/api/v1.0/</string>
	<key>code</key>
	<string>nsr</string>
	<key>secret_key</key>
	<string>VI7bHkQ5JhG2TeYQYe</string>
	<key>user.email</key>
	<string>giovanni.tigli@neosurance.eu</string>
	<key>user.code</key>
	<string>giovanni.tigli</string>
	<key>user.firstname</key>
	<string>giovanni</string>
	<key>user.lastname</key>
	<string>tigli</string>
</dict>
</plist>
